#start {
    font-family: 'Dancing Script', cursive;
    font-size: 37px;
    color: white;
    background: none;
    border-radius: 10px;
    padding: 0.5em;
    outline: none;
  }
  
  .starting, .loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    z-index: 1000;
  }
  nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 40px;
    width: 100%;
    height: 30px;
    text-align: center;
  }
  nav button {
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
    border: 0;
    background: none;
    font-size: 2em;
    color: #eee;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
    outline: none;
  }
  
  button.active {
    border-bottom: 1px solid #eee;
  }
  
  .visualization {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .hidden {
    display: none;
  }
  
  circle {
    transition: fill 0.5s ease-out;
  }
  path {
    transition: stroke 0.5s ease-out, fill 0.5s ease-out;
  }
  
  /* Ventana emergente */

  
.modal-container {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  pointer-events: none;
  top:0;
  left: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  display: none;
}


@media screen and (max-width: 1024px) {
  .modal-container {
    top: 0;
    height: 100%;
  }
}

.modal {
  background-color: var(--Color-User-page);
  border: 1px solid black;
  width: 20%;
  height: 60%;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px var(--sombras);
          box-shadow: 0 2px 4px var(--sombras);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .modal {
    width: 80vw;
  }
}